<% provide(:title, "New vacation") %>
<h1>New vacation</h1>

	<div class="row">
		<div class="span6 offset3">
			<h3>All vacations</h3>
			<%= render 'vacations' %>
		</div>
	</div>

</br>
</br>

<div class="row">
	<div class="span6 offset3">
		<%= render 'edit_form', conf_button: 'Add my vacation' %>
		</div>
</div>

