<div class="center hero-unit">
	<h1>Welcome!</h1>
	</br>
	<h2>
		you are just one step away from making online doctor appointments
	</h2>
	</br>
	<%= link_to "Sign up", signup_patient_path, class: "btn btn-large btn-primary"%>
	or
	<%= link_to "Sign in with account", signin_path, class: "btn btn-large"%>
</div>
