<li>
	<%= gravatar_for patient, size: 52 %>
	<%= link_to patient.name, patient %>
	<% if current_user && current_user.admin? && current_user!=patient %>
	| <%= link_to 'delete', patient, method: :delete, remote: true, data: {confirm: "You sure?"} %>
	<% end %>
</li>
