<% provide(:title, @doctor.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @doctor, size:40 %>
				<%= @doctor.name %>
			</h1>
		</section>
		<section>
			<%= render 'favorite_form' if ( signed_in? && current_user.type == 'Patient') %>
		</section>
	</aside>
	<div class="span8">
		<%= render 'shared/calendar' %>
		<div id='calendar'></div>
	</div>
</div>
